@using BlazorApp.Client
@inject AuthStateProvider authStateProvider
@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

       

        
        @if (authStateProvider.CurrentUser != null)
        {
            

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="productos">
                    <span class="bi bi-box-seam-fill" aria-hidden="true"></span> Productos
                </NavLink>
            </div>

            
            @if (authStateProvider.CurrentUser.TipoUsuario == "Cliente")
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="carrito">
                        <span class="bi bi-cart-fill position-relative" aria-hidden="true">
                           
                            @if (CarritoItemCount > 0)
                            {
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    @CarritoItemCount
                                    <span class="visually-hidden">items en carrito</span>
                                </span>
                            }
                        </span> Carrito
                    </NavLink>
                </div>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/promos" Match="NavLinkMatch.Prefix">
                        <span class="oi oi-tag" aria-hidden="true"></span> Descuentos vigentes
                    </NavLink>
                </li>
            }

            
            @if (authStateProvider.CurrentUser.TipoUsuario == "Vendedor")
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="categorias">
                        <span class="bi bi-tags-fill" aria-hidden="true"></span> Categorías
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="usuarios">
                        <span class="bi bi-people-fill" aria-hidden="true"></span> Usuarios
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="descuentos">
                        <span class="bi bi-tags-fill" aria-hidden="true"></span> Descuentos
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ventas">
                        <span class="bi bi-cash-stack" aria-hidden="true"></span> Ventas
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="historial-precios">
                        <span class="bi bi-clock-history"></span> Historial de Precios
                    </NavLink>
                </div>

            }
        }
    </nav>
</div>

@code {
    [Parameter]
    public int CarritoItemCount { get; set; }

    
    protected override void OnInitialized()
    {
        authStateProvider.OnChange += StateHasChanged;
    }

  
    public void Dispose()
    {
        authStateProvider.OnChange -= StateHasChanged;
    }
}

